.container {
  height: 500px;
  width: 500px;
  display: flex;
  /*flex-direction: row; */
  flex-direction: column;
  border: 3px solid green;
}

.item {
  padding: 30;
  background: brown;
  text-align: center;
  font-size: 26px;
  border: 3px solid green;
  width: 200px;
  height: 200px;
}
